<div class="card col-md-12 col-xs-6 col-lg-12 mt-2">
  <div class="row no-gutters">
    <div class="col-md-1 col-sm-1 col-lg-1 text-center mt-5">
      <p>
        <small class="text-muted">{{ product.index }}</small>
      </p>
    </div>
    <div class="col-md-5 col-sm-2 col-lg-5">
      <img
        src="assets/images/mobile.jpg"
        class="card-img mt-3"
        style="max-width: 18rem"
        alt="..."
      />
      <i class="fa-solid fa-star"></i>
      <h5 class="card-text m-2">
        <i class="fa-solid fa-star"></i>{{ product.title }}
      </h5>
    </div>
    <div class="col-md-6 col-sm-3 col-lg-6">
      <div class="row">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h6 class="card-text mb-3" *ngFor="let item of tags">
                {{ item }}
              </h6>
              <app-star [starRating]="product.rating"></app-star>
            </div>
            <div class="col-md-6">
              <p class="card-text mt-5">{{ product.price }}$</p>
              <button type="button" class="btn btn-secondary mt-4">
                details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <span [ngClass]="product.activated ? 'text-success' : 'text-danger'">
      {{ product.activated ? "Activated" : "Blocked" }}
    </span> -->
